Source: plasma-discover
Section: kde
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Maximiliano Curia <maxy@debian.org>,
           Matthias Klumpp <mak@debian.org>
Build-Depends: cmake (>= 2.8.12),
               debhelper (>= 9),
               extra-cmake-modules (>= 5.18.0~),
               kinit-dev (>= 5.18.0~),
               kio-dev (>= 5.18.0~),
               libappstreamqt-dev,
               libdebconf-kde-dev (>= 1.0.0),
               libkf5attica-dev (>= 5.18.0~),
               libkf5config-dev (>= 5.18.0~),
               libkf5configwidgets-dev (>= 5.18.0~),
               libkf5coreaddons-dev (>= 5.18.0~),
               libkf5dbusaddons-dev (>= 5.18.0~),
               libkf5declarative-dev (>= 5.18.0~),
               libkf5i18n-dev (>= 5.18.0~),
               libkf5iconthemes-dev (>= 5.18.0~),
               libkf5itemviews-dev (>= 5.18.0~),
               libkf5kdelibs4support-dev (>= 5.18.0~),
               libkf5newstuff-dev (>= 5.18.0~),
               libkf5notifications-dev (>= 5.18.0~),
               libkf5solid-dev (>= 5.18.0~),
               libkf5wallet-dev (>= 5.18.0~),
               libkf5widgetsaddons-dev (>= 5.18.0~),
               libpackagekitqt5-dev,
               libphonon4qt5-dev,
               libphonon4qt5experimental-dev,
               libqca-qt5-2-dev,
               libqt5svg5-dev (>= 5.4.0~),
               pkg-config,
               pkg-kde-tools (>= 0.15.16),
               plasma-framework-dev (>= 5.18.0~),
               qtbase5-dev (>= 5.4.0~),
               qtdeclarative5-dev (>= 5.4.0~)
Standards-Version: 3.9.6
Homepage: https://projects.kde.org/projects/kde/workspace/discover
Vcs-Browser: http://anonscm.debian.org/cgit/pkg-kde/plasma/plasma-discover.git
Vcs-Git: git://anonscm.debian.org/pkg-kde/plasma/plasma-discover.git

Package: plasma-discover
Architecture: any
Depends: app-install-data,
         appstream,
         apt-xapian-index,
         libdiscovercommon (= ${binary:Version}),
         packagekit,
         ${misc:Depends},
         ${shlibs:Depends}
Breaks: libdiscover,
        muon-common (<< 4:5.5.3a),
        muon-discover (<< 4:5.5.3a),
        muon-notifier (<< 4:5.5.3a),
        muon-updater (<< 4:5.5.3a),
        plasma-discover-common (<< ${ci:BuildVersion}),
        plasma-discover-notifier,
        plasma-discover-updater (<< ${ci:BuildVersion})
Replaces: libdiscover,
          muon-common (<< 4:5.5.3a),
          muon-discover (<< 4:5.5.3a),
          muon-notifier (<< 4:5.5.3a),
          muon-updater (<< 4:5.5.3a),
          plasma-discover-common (<< ${ci:BuildVersion}),
          plasma-discover-notifier,
          plasma-discover-updater (<< ${ci:BuildVersion})
Recommends: software-properties-kde
Suggests: plasma-discover-updater
Description: Utility for browsing, installing, and removing applications
 Plasma Discover will help you browse through the huge applications library you
 have available and help you find the applications you're looking for.
 .
 To install or remove software using Discover, you need administrator
 access on the computer.

Package: libdiscovercommon
Architecture: any
Depends: policykit-1, python3, ${misc:Depends}, ${shlibs:Depends}
Breaks: libdiscover, libmuon (<< 4:5.5.3a)
Replaces: libdiscover, libmuon (<< 4:5.5.3a)
Description: Shared runtime files for the Discover package management suite
 The Discover package management suite is a collection of package management
 applications built on the KDE platform.
 .
 This package contains runtime libraries

Package: plasma-discover-dbg
Section: debug
Priority: extra
Architecture: any
Depends: plasma-discover (= ${binary:Version}), ${misc:Depends}
Recommends: kdelibs5-dbg
Description: Discover debugging symbols
 This package contains debugging symbols for Discover.
 When Discover crashes, in most cases this package is
 needed to get a backtrace that is useful for developers. If you have
 experienced a Discover crash without this package
 installed, please install it, try to reproduce the problem and fill a bug
 report with a new backtrace attached.

Package: plasma-discover-common
Architecture: all
Section: oldlibs
Priority: extra
Depends: plasma-discover, ${misc:Depends}
Description: Transitional package (plasma-discover-updater -> plasma-discover)
 This is a transitional package for plasma-discover and can safely be
 removed.

Package: plasma-discover-updater
Architecture: all
Section: oldlibs
Priority: extra
Depends: plasma-discover, ${misc:Depends}
Description: Transitional package (plasma-discover-updater -> plasma-discover)
 This is a transitional package for plasma-discover and can safely be
 removed.

Package: muon-discover
Architecture: all
Section: oldlibs
Priority: extra
Depends: plasma-discover, ${misc:Depends}
Description: Transitional package (muon-discover -> plasma-discover)
 This is a transitional package for plasma-discover and can safely be
 removed.

Package: muon-updater
Architecture: all
Section: oldlibs
Priority: extra
Depends: plasma-discover-updater, ${misc:Depends}
Description: Transitional package (muon-updater -> plasma-discover-updater)
 This is a transitional package updating muon-updater to plasma-discover-updater
 and can safely be removed.

Package: muon-notifier
Architecture: all
Section: oldlibs
Priority: extra
Depends: plasma-discover-updater, ${misc:Depends}
Description: Transitional package (muon-notifier -> plasma-discover-updater)
 This is a transitional package updating muon-notifier to
 plasma-discover-updater and can safely be removed.
